.log{
  border-radius: 5px ;
  margin: 10px;
  background-color: blue;
}

.logo {
  margin-top: 30px;
  width: 333px;
  height: 165px;
  background-color: rgba(252, 252, 252, 0);
  font-weight: bold;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.hello{
  padding-top: 25px;
  padding-left: 10px;
  border-radius: 10px;
  height: 50px;
  width: 333px;
  background-color: cornflowerblue;
  margin-top: 50px;
  font-size: 30px;

  position: absolute;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.game_button{
  border-radius: 10px;
  margin-top: 170px;
  margin-left: 85px;
  height: 40px;
  width: 170px;
  font-size: 25px;
  background-color: cornflowerblue;
  position: absolute;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  text-align: center;

}
.technique_button{
  border-radius: 10px;
  margin-top: 250px;
  margin-left: 72px;
  height: 40px;
  width: 190px;
  font-size: 25px;
  background-color: cornflowerblue;
  position: absolute;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  text-align: center;

}
body{
  background-image: url(src/assets/image/fon_homepage.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}


@keyframes example {
  from {left: 0px;}
  to {left: 600px;}
}

.dws{
  position: absolute;
  top: 60%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.butt{
  margin-top: 50px;
  margin-left: 85px;
  border: 3px solid #c98600;
  font-size: 30px;
  color: #c98600;
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
  font-family: Arial, sans-serif;
  position: relative;
  transition: .5s;
  overflow: hidden;
}
.butt::before,
.butt::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #c98600;
  top: 0;
  left: -100%;
  opacity: .5;
  transition: .3s;
  z-index: -1;
}
.butt::after{
  opacity: 1;
  transition-delay: .2s;
}
.butt:hover{
  color: #fff;
}
.butt:hover::before,
.butt:hover::after{
  left: 0;
}



.butt1{
  margin-top: 20px;
  margin-left: 20px;
  border: 3px solid #00c9c9;
  font-size: 15px;
  color: #00c9c9;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 25px;
  font-family: Arial, sans-serif;
  position: relative;
  transition: .5s;
  overflow: hidden;
}
.butt1::before,
.butt1::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #00c9c9;
  top: 0;
  left: -100%;
  opacity: .5;
  transition: .3s;
  z-index: -1;
}
.butt1::after{
  opacity: 1;
  transition-delay: .2s;
}
.butt1:hover{
  color: #fff;
}
.butt1:hover::before,
.butt1:hover::after{
  left: 0;
}

